* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(85, 151, 129);
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}
.input-keyboard textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
    border-radius: 5px 5px 0 0;
    resize: none;
    background-color: rgb(185, 202, 202);
}
.keyboard {
    max-width: 725px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #ebebeb;
    border: 3px solid rgb(68, 68, 68);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(116, 116, 116);
}
.line {
    display: flex;
    gap: 8px;
}
.key {
    background-color: rgb(69, 69, 69);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.arrow {
    color: black;
}
.key img {
    width: 100%;
}
.key:hover {
    background-color: rgb(88, 193, 197);
}
.key:active {
    transform: scale(0.9);
}
.bgblack {
    background-color: black;
}
.arrow {
    background-color: rgb(217, 211, 211);
}
.active {
    background-color: rgb(88, 193, 197);
    transform: scale(0.9);
}
.backspace {
    width: auto;
    padding: 10px;

}
.tab {
    width: 50px;
}
.del {
    width: 44px;
}
.capslock {
    width: 100px;
    padding: 10px;
}
.enter {
    width: 91px;
}
.lshift {
    width: 100px;
    padding: 10px;
}
.rshift {
    width: 91px;
}
.space {
    width: 339px;
}

.pad {
    width: auto;
    padding: 5px;
}

